<div class="container" id="ask-section">
  <h1 class="mt-4 info-blue">Get advice from your stupid coach!</h1>
  <form action="/answer" data-turbo="false" class="form-inline mt-4">
    <div class ="row align-items-center">
      <div class="col-6">
        <input type="text" class="form-control" name="question" placeholder="Type a question">
      </div>
      <div class="col-6">
        <button type="submit" class="btn btn-info ask-btn" value="Ask!">Ask</button>
      </div>
    </div>
  </form>
</div>
